*{
    font-size: 20px;
    font-family: Lato, sans-serif;
    background-color: rgb(238, 238, 238);
    box-sizing: border-box;
}

/* Header and navbar */

#header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 35px;
    text-align: center;
}

#header-img{
    width: 300px;
    height: 34.14px;
    margin: 10px;
    padding-right: 10px;
}

#nav-bar{
    width: 40%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#nav-bar a{
    font-size: 0.8rem;
    text-decoration: none;
    color: black;
    margin-top: 5px;
    width: auto;
}

/* Main Section */

#main{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Title and email input */

#title-form{
    margin-bottom: 50px;
}

#title-form h2{
    font-size: 1.2rem;
    font-weight: 700;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#email{
    background-color: white;
    width: 275px;
    height: 29px;
    border: black 1px solid;
    border-radius: 2px;
    font-size: 0.7rem;
    margin-bottom: 15px;
    padding-left: 6px;
}

#submit{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 900;
    background-color: rgb(241, 196, 15);
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    cursor: pointer;
}

#submit:hover{
    animation-name: btn-anim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes btn-anim{
    100%{background-color: rgb(253, 164, 41);}
}

/* Features */

#features{
    max-width: 800px;

}

/* Media queries */

@media only screen and (max-width: 635px){
    #header{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    #nav-bar{
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    #main{
        margin-top: 125px;
    }
}
