*{
    font-size: 20px;
    font-family: Lato, sans-serif;
    background-color: rgb(229, 229, 229);
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

/* Header and navbar */

#header{
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    width: 102%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 35px;
    text-align: center;
    box-shadow: 0px 1px 10px black;
    transition: 0.5s;
}

#header-img{
    background-color: black;
    width: 170px;
    margin: 10px;
    margin-left: 30px;
    padding-right: 10px;
    transition: 0.5s;
}

#nav-bar{
    background-color: black;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.nav-link{
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    text-decoration: none;
    margin-top: 5px;
    width: auto;
}

/* Main Section */

#main{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Video ad */

#video{
    width: 100%;
    margin-bottom: 0px;
}

/* Features */

#features{
    margin: 30px;
    margin-top: 50px;
    max-width: 870px;
    display: flex;
    flex-direction: column;    
}

#features h2{
    font-size: 1.25rem;
}

#features p{
    font-size: 0.8rem;
}

.items{
    margin: 10px;
    padding: 15px 30px;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
}

.icon{
    width: 100px;
}

.icon i{
    color: #1C5D99;
    width: 50px;
    font-size: 40px;
    justify-self: center;
}

.features-text{
    max-width: 80%;
}

/* Pricing */

#pricing-title{
    font-size: 1.5rem;
    text-decoration: underline;
}

#pricing{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.price-cards{
    border: solid  #1C5D99 6px;
    box-shadow: 3px 5px 5px;
    border-radius: 10px;
    margin: 10px 30px;
    padding: 20px;
    width: 300px;
    height: 300px;
    text-align: center;
}

#card-3{
    border: solid #C5283D 6px;
}

#card-3-btn:hover{
    animation: card-3-btn-anim 2s infinite forwards;
    cursor: pointer;
}

@keyframes card-3-btn-anim{
    50%{background-color: #C5283D;
        color: white;}
}

.slct-btn:hover{
    animation: slct-btn-anim 2s infinite forwards;;
    /* animation-name: btn-anim;
    animation-duration: 2s;
    animation-fill-mode: forwards; */
    cursor: pointer;
}

@keyframes slct-btn-anim{
    50%{background-color: #1C5D99;
        color: white;}
}

/* Contact and email input */

#title-form{
    margin: 80px;
}

#title-form h2{
    font-size: 1.2rem;
    font-weight: 700;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#email{
    background-color: white;
    width: 275px;
    height: 29px;
    margin: 20px;
    border: black 1px solid;
    border-radius: 2px;
    font-size: 0.7rem;
    margin-bottom: 15px;
    padding-left: 6px;
}

#submit{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 900;
    background-color: #E5E5E5;
    border: solid 2px black;
    border-radius: 5px;
    margin: 10px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

#submit:hover{
    animation-name: btn-anim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes btn-anim{
    100%{background-color: #1C5D99;
        color: white;}
}

/* Footer */

footer{
    font-size: 0.8rem;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    border: black 1px solid;
    border-bottom: none;
    border-radius: 4px;
}

#copyright p{
    font-size: 0.8rem;
}

#foot-links a{
    margin: 10px;
    font-size: 0.8rem;
}

/* Media queries */

@media only screen and (max-width: 635px){
    #header{
        height: 130px;
        display: flex;
        align-items: center;
    }

    #nav-bar{
        align-items: center;
        width: 80%;
    }
}
