*{
    font-size: 20px;
    font-family: Lato, sans-serif;
    background-color: rgb(238, 238, 238);
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

/* Header and navbar */

#header{
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    width: 102%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 35px;
    text-align: center;
    box-shadow: 0px 3px 10px grey;
    transition: 0.5s;
}

#header-img{
    background-color: black;
    width: 170px;
    margin: 10px;
    margin-left: 30px;
    padding-right: 10px;
    transition: 0.5s;
}

#nav-bar{
    background-color: black;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.nav-link{
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    text-decoration: none;
    margin-top: 5px;
    width: auto;
}

/* Main Section */

#main{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Title and email input */

#title-form{
    margin-bottom: 50px;
}

#title-form h2{
    font-size: 1.2rem;
    font-weight: 700;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#email{
    background-color: white;
    width: 275px;
    height: 29px;
    border: black 1px solid;
    border-radius: 2px;
    font-size: 0.7rem;
    margin-bottom: 15px;
    padding-left: 6px;
}

#submit{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 900;
    background-color: rgb(241, 196, 15);
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    cursor: pointer;
}

#submit:hover{
    animation-name: btn-anim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes btn-anim{
    100%{background-color: rgb(253, 164, 41);}
}

/* Features */

#features{
    margin: 30px;
    max-width: 870px;
    display: flex;
    flex-direction: column;
}

#features h2{
    font-size: 1.25rem;
}

#features p{
    font-size: 0.8rem;
}

.items{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.items .icon{
    width: 15%;
    color: rgb(255, 140, 0);
    font-size: 15px;
    align-self: center;
}

.fa{
    align-self: center;
}

/* Media queries */

@media only screen and (max-width: 635px){
    #header{
        height: 130px;
        display: flex;
        align-items: center;
    }

    #nav-bar{
        align-items: center;
        width: 80%;
    }

    #main{
        margin-top: 125px;
    }
}
